# SPDX-License-Identifier: GPL-2.0-only
#
# Trusty driver
#

menu "Trusty driver"

config TRUSTY
	tristate "Trusty core driver"
	depends on ARM || ARM64
	help
	  Trusty is a secure OS that provides a Trusted Execution Environment
	  (TEE) for Android.  Trusty runs on the same processor as Linux but is
	  isolated from the rest of the system by both hardware and software.

	  This option enables the Linux kernel driver for Trusty, which
	  transfers data to/from Trusty.  This allows Linux userspace
	  applications to communicate with trusted applications.

	  If you build this as a module, it will be called trusty-core.

endmenu
