/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include "a210.dtsi"
#include "a210-android-hdmi.dtsi"
#include "a210-android-unused.dtsi"


/ {
	model = "A210 EVB configuration";

	aliases {
		gpio0 = &gpio0;
		gpio1 = &gpio1;
		gpio2 = &gpio2;
		gpio3 = &gpio3;
		gpio4 = &gpio4;

		mmc0 = &emmc;
		serial4 = &uart4;
	};

	/* The actual capacity will be adjusted through SPL */
	memory@0 {
		device_type = "memory";
		reg = <0x00 0x80000000  0x01 0x00000000>; /* 4G */
		numa-node-id = <0>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x00 0x40000000>;
			alloc-ranges = <0x00 0x90000000 0x00 0x40000000>;
			linux,cma-default;
		};

		memory@1c000000 {
			reg = <0x00 0x1c000000 0x00 0x2000000>;
			no-map;
		};

		memblock-memory@17b800000 {
			reg = <0x01 0x7b800000 0x00 0x04000000>;
			no-map;
		};
	};

	/* The bootargs in U-Boot will override the configuration set here. */
	chosen {
		stdout-path = "serial4";
	};

};

&peri2_padctrl {
	uart4_pins: uart4-0 {
		tx-pins {
			pins = "GPIO2_0";
			function = "uart4";
			bias-disable;
			drive-strength = <3>;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};

		rx-pins {
			pins = "GPIO2_1";
			function = "uart4";
			bias-disable;
			drive-strength = <1>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};
	};
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_pins>;
};

&rtc {
	status = "okay";
};

/*
 * Forced peripheral mode (not "otg") for ADB - no Type-C/PD/role-switch
 * needed. usbc (fusb302) stays disabled; the dtsi default is
 * dr_mode = "host".
 */
&usb3 {
	dr_mode = "peripheral";
};

&aon_padctrl {
	aoi2c1_pins: aoi2c1-0 {
		i2c-pins {
			pins = "AOI2C1_SCL", "AOI2C1_SDA";
			function = "aoi2c1";
			bias-disable;
			drive-strength = <7>;
			input-enable;
			input-schmitt-enable;
			slew-rate = <0>;
		};
	};
};

&aoi2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&aoi2c1_pins>;
	clock-frequency = <400000>;
	status = "okay";

	aw9535_1: gpio@21 {
		compatible = "awinic,aw9535";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;
		ngpios = <16>;
		gpio-line-names =
			"PCIE_BAT_EN_IO0", "AUDIO_3V3_PWREN_IO1", "AUDIO_1V8_PWREN_IO2", "MIPI_CSI0_PWREN_IO3",
			"MIPI_CSI1_PWREN_IO4", "MIPI_TP_PWREN_IO5", "PCIE_3V3_EN_IO6", "PCIE_12V_EN_IO7",
			"USBCON_PWREN_IO8", "USBCON1_PWREN_IO9", "PCIE_3V3_AUX_EN_IO10", "SDIO_3V3_PWREN_IO11",
			"SDIO_1V8_PWREN_IO12", "SIT91211_3V3_EN_IO13", "MIPI_DSI_PWREN_IO14", "BL_EN_IO15";
	};
};

&usb20phy0 {
	pwren-gpios = <&aw9535_1 8 GPIO_ACTIVE_HIGH>;
};

&usb20phy1 {
	pwren-gpios = <&aw9535_1 9 GPIO_ACTIVE_HIGH>;
};

&usb2_0 {
	status = "okay";
};

&emmc {
	max-frequency = <196608000>;
	non-removable;
	mmc-hs400-1_8v;
	mmc-hs200-1_8v;
	io_fixed_1v8;
	is_emmc;
	no-sdio;
	no-sd;
	pull_up;
	bus-width = <8>;
	cap-mmc-highspeed;
};

&cluster0_opp {
	opp0-500000000 {
		opp-microvolt = <1000000>;
	};
	opp0-1200000000 {
		opp-microvolt = <1000000>;
	};
	opp0-1500000000 {
		opp-microvolt = <1000000>;
	};
	opp0-1698000000 {
		opp-microvolt = <1000000>;
	};
	opp0-1896000000 {
		opp-microvolt = <1000000>;
	};
};

&cluster1_opp {
	opp1-500000000 {
		opp-microvolt = <1000000>;
	};
	opp1-1698000000 {
		opp-microvolt = <1000000>;
	};
	opp1-1896000000 {
		opp-microvolt = <1000000>;
	};
	opp1-2298000000 {
		opp-microvolt = <1000000>;
	};
};
